button{
  padding: 15px 18px;
  background-color: #050801;
  color: #ffffff;
  font-weight: bold;
  border: none;
  border-radius: 5px;
  letter-spacing: 4px;
  overflow: hidden;
  transition: 0.5s;
  cursor: pointer;
}

button:hover{
    background: #ad7cea;
    color: #050801;
    box-shadow: 0 0 2px #3c1170,
                0 0 10px #1a3915,
                0 0 20px #7cef89,
                0 0 80px #ab6ce2;
     -webkit-box-reflect:below 1px linear-gradient(transparent, #0005);
}