/* MainPage.css */
/*FOR bottom BAR*/
.song-bar {
  width: 100%;
  position: fixed; /* Fixed position to keep it at the bottom */
  height: 100px;
  bottom: 0; /* Align to the bottom */
  background: #181818; /* Dark background */
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 0rem;
  padding: 10px 20px;
  box-shadow: 0 -2px 5px rgba(0, 0, 0, 0.3); /* slight shadow on top */
  z-index: 1000; /* Ensure it's above other content */
}
@media (max-width: 768px) {
  .song-bar {
    flex-direction: column;
    height: auto;
  }

  .song-info,
  .song-controls,
  .song-rating {
    width: 100%; /* Full width on smaller screens */
    margin: 0.5rem 0; /* Add some space between */
  }
}

.song-info {
  display: flex;
  height: 95px;
  width: 400px;
  align-items: center;
  margin-bottom: auto;
  gap: 15px;
}

.album-cover {
  width: 80px; /* Adjust as necessary */
  height: 70px; /* Adjust as necessary */
  object-fit: cover;
  margin-right: 1rem;
  border-radius: 4px;
}

.song-title,
.song-artist {
  margin: 0;
  color: #fff;
}

.song-title,
.song-artist {
  margin: 0;
  font-size: 0.8rem;
  color: #fff;
  white-space: nowrap;
}

.song-artist {
  font-size: 0.9rem;
  color: #aaa;
}

.song-like {
  background: none;
  border: none;
  color: #fff;
  font-size: 1.5rem;
  cursor: pointer;
  margin-left: 1rem;
}

.play-btn {
  background-color: #1db954; /* Spotify green */
  color: #fff;
  border: none;
  padding: 0.5rem 2rem;
  font-size: 1rem;
  border-radius: 500px; /* Rounded pill shape */
  cursor: pointer;
  margin-right: 1rem;
}

.song-progress {
  display: flex;
  align-items: center;
}
.firstInfo {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-right: 20px;
}
.secondInfo {
  flex-direction: column;
  justify-content: center;
  margin-right: 20px;
  height: auto;
  width: 180px;
}
.song-meta {
  margin-top: 0px;
  margin-bottom: 0px;
  padding: 5px;
}

.slider {
  -webkit-appearance: none; /* Override default CSS styles */
  appearance: none;
  width: 100%; /* Adjust as necessary */
  height: 4px; /* Slider thickness */
  background: #535353; /* Slider background */
  outline: none;
  opacity: 0.7; /* Slider opacity */
  -webkit-transition: 0.2s; /* Transition for slider */
  transition: opacity 0.2s;
  border-radius: 2px;
  margin-right: 1rem;
  flex-grow: 1;
}

.slider::-webkit-slider-thumb {
  -webkit-appearance: none; /* Override default CSS styles */
  appearance: none;
  width: 15px; /* Slider handle width */
  height: 15px; /* Slider handle height */
  background: #fff; /* Slider handle color */
  cursor: pointer; /* Cursor on hover */
  border-radius: 50%; /* Round shape */
}

.slider::-moz-range-thumb {
  width: 12px; /* Slider handle width */
  height: 12px; /* Slider handle height */
  background: #fff; /* Slider handle color */
  cursor: pointer; /* Cursor on hover */
  border-radius: 50%; /* Round shape */
}

.song-timer {
  font-size: 0.8rem;
  white-space: nowrap;
  color: #aaa;
}
.song-lyrics-btn {
  background: transparent;
  border: 1px solid white;
  border-radius: 10px;
  margin-right: 2rem;
  color: white;
  margin-left: 3rem;
  padding: 5px 10px;
  cursor: pointer;
}

.delete-btn {
  background: transparent;
  border: 1px solid white;
  border-radius: 10px;
  color: white;
  padding: 5px 10px;
  cursor: pointer;
}
.delete-btn-disabled {
  background: darkgray;
  border: 1px solid gray;
  color: white;
  cursor: not-allowed;
}
/* This container will hold both the controls and the rating, spaced between */
.song-controls-container {
  display: flex;
  justify-content: space-between; /* This will push the song controls and rating apart */
  align-items: center;
  margin-right: 3rem;
  width: 50%; /* It should span the full width of its parent */
}

/* Styles for the song controls */
.song-controls {
  display: flex;
  align-items: center;
  gap: 1rem;
  /* margin-right: 40rem; Remove this and let flexbox handle the spacing */
  justify-content: flex-start;
  /* width: auto; This can be removed since width will be controlled by the parent container */
}

/* Styles for the song rating */
.song-rating {
  order: 2;
  align-items: center;
  justify-content: center;
  margin-right: 5rem; /* Adjust or remove this as needed */
}

.song-rating-container {
  margin-right: 15rem;
}

/* Adjustments to the rating stars component if needed */
.react-rating-stars-component {
  line-height: 1;
  margin-right: 5rem; /* Ensure this is not too large to push content off screen */
}

.song-details-extra {
  display: flex;
  flex-direction: column;
  margin-right: 5rem;
  height: auto;
  width: auto;
}

/*FOR FRIEND BAR*/
.friend-bar {
  position: fixed;
  top: 0;
  right: 0;
  width: 250px;
  height: 100vh;
  background-color: #2c2c2c;
  overflow-y: auto;
  padding: 10px;
}

.friend {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}

.friend-picture {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  margin-right: 10px;
}

.friend-info {
  display: flex;
  flex-direction: column;
}

.friend-name,
.last-song {
  color: #ffffff;
  margin: 0;
}

.last-song {
  font-size: 0.8em;
  color: #aaaaaa;
} /* LeftBar.css */
.left-bar {
  background-color: #000;
  color: #fff;
  padding: 20px;
  width: 250px;
  height: 100vh;
  box-sizing: border-box;
  overflow-y: auto;
}

.left-bar-button,
.playlist-button {
  background: none;
  border: none;
  color: #fff;
  padding: 10px 0;
  width: 100%;
  text-align: left;
  font-size: 1.1em;
  margin-bottom: 20px;
  cursor: pointer;
  display: block;
  text-align: left;
}

.left-bar-button:hover,
.playlist-button:hover {
  background-color: #333;
}

.playlists {
  margin-top: 30px;
}

.playlist-button {
  display: flex;
  align-items: center;
  width: 100%;
  padding: 5px 0; /* Adjusted padding for the button */
  transition: background-color 0.3s; /* Smooth transition for hover effect */
}

.playlist-image {
  width: 30px;
  height: 50px;
  margin-right: 10px;
  object-fit: cover;
  border-radius: 5px;
}

.playlist-info {
  display: flex;
  flex-direction: column;
}

.playlist-name {
  font-weight: bold;
}

.song-number {
  font-size: 0.8em;
  color: #aaa;
}

.main-container {
  display: flex;
  overflow: hidden;
  height: 100vh; /* Full viewport height */
}

.content-container {
  flex-grow: 1; /* Take up remaining space */
  display: flex;
  flex-direction: column; /* Stack children vertically */
  overflow-y: auto;
  margin-right: 15rem;
  margin-bottom: 120px;
}

.header-line {
  width: 100%; /* For horizontal line */
  height: 1px; /* For vertical line, switch width and height */
  background-color: white;
  margin-bottom: 1rem;
}

.subheader-line {
  width: 100%; /* For horizontal line */
  height: 0.2px; /* For vertical line, switch width and height */
  background-color: grey;
}

.recommended-thumbnail {
  width: 320px;
  height: 200px;
}
.recommended-name {
  color: white;
  font-size: 22px;
  text-align-last: center;
}

.recommended-title {
  font-size: 30px;
  margin-left: 1.5rem;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  color: white;
}
.recommended-genre-title {
  font-size: 25px;
  margin-left: 1.5rem;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  color: rgb(194, 189, 189);
}

.container {
  display: grid;
  grid-template-columns: 0.2fr 0.2fr 0.2fr 0.2fr;
  grid-template-rows: 250px;
  gap: 13px 20px;
  grid-template-areas: "Playlist1 Playlist2 Playlist3 Playlist4";
  justify-content: stretch;
  align-content: stretch;
  justify-items: stretch;
  align-items: stretch;
}

.Playlist1 {
  grid-area: Playlist1;
  margin-left: 15px;
  cursor: pointer;
}

.Playlist2 {
  grid-area: Playlist2;
}

.Playlist3 {
  grid-area: Playlist3;
}
.Playlist4 {
  grid-area: Playlist4;
}

.search-bar-container {
  align-self: flex-start; /* Align to the top-left */
}

.search-bar-container {
  display: flex;
  width: 26rem;
  align-items: center;
  background-color: white; /* Dark background color */
  border: 2px solid #000000; /* Light border color */
  border-radius: 25px; /* Rounded corners for the whole search bar */
  padding: 0rem;
  padding-right: 5.8rem;
}
.search-bar {
  display: flex;
  justify-content: space-between;
  border: none;
}
.search-input {
  flex-grow: 1;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  border-radius: 25px 0 0 25px;
  background-color: transparent; /* Ensure the input has a transparent background */
  border: none; /* Remove border from the input */
  outline: none; /* Remove the focus outline to maintain style */
  padding: 0rem 16rem 0rem 0.5rem; /* Space for the text inside the input */
  color: rgb(0, 0, 0); /* Text color for the input */
}
.search-bar::text {
  width: 100%;
}
.search-input::placeholder {
  color: rgb(24, 22, 22); /* Light text color for the placeholder */
}

.search-button {
  margin: 0rem;
  background: none; /* No background for the button */
  border-width: 1px; /* No border for the button */
  border-radius: 30px;
  color: rgb(0, 0, 0); /* Set the icon color */
  cursor: pointer;
  padding: 0.7rem 1rem;
}

/* PLAYLIST */
/* Playlist.css */

.lastPlaylists-container-forPP {
  max-width: 1200px;
  width: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(19rem, 1fr));
  gap: 0.2rem;
  padding: 0.2rem;
  justify-content: center;
  padding-left: 100px;
  padding-right: 100px;
}

.Playlist {
  justify-content: stretch;
  width: 0.3fr;
  height: 250px;
}

.add-song-btn {
  width: 15rem;
  background: transparent;
  border: 1px solid white;
  border-radius: 10px;
  margin-right: 2rem;
  color: white;
  margin-left: 68rem;
  padding: 5px 10px;
  cursor: pointer;
}

.popup-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 10; /* Ensure it's above other content */
}

.popup-content {
  background: rgb(19, 40, 20);
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 2px 10px rgba(57, 4, 66, 0.3);
}

.rate-btn {
  background: transparent;
  border: 1px solid white;
  border-radius: 10px;
  margin-right: 0.1rem;
  color: white;
  margin-left: 0.1rem;
  padding: 5px 10px;
  cursor: pointer;
}

.search-container {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.search-bar {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px; /* Adjust as needed */
}

.search-input {
  flex-grow: 1;
  margin-right: 10px; /* Adjust as needed */
}

.user-results {
  display: flex;
  flex-direction: column;
}

.user-card {
  display: flex;
  align-items: center;
  margin-bottom: 10px; /* Adjust as needed */
}

.user-image {
  width: 50px; /* Adjust as needed */
  height: 50px; /* Adjust as needed */
  border-radius: 50%; /* Makes the image circular */
  object-fit: cover;
  margin-right: 10px; /* Adjust as needed */
}

.user-name {
  font-weight: bold;
  color: #333; /* Adjust as needed */
}

.error-message {
  color: red;
  margin-top: 10px;
}



.recommend-artist {
  /* Add any additional styling for the parent container */
}

.artist-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  /* Adjust the spacing between artist items as needed */
  gap: 10px;
}

.artist-item {
  width: calc(25% - 30px); /* 25% width for 4 artists in a row with 20px gap */
  text-align: center;
}

.artist-name{
  color: white;
}
.artist-item img {
  max-width: 80%;
  height: auto;
  border-radius: 200px;
  /* Add any additional styling for artist images */
}

