/* MainPage.css */
/*FOR bottom BAR*/
/*FOR FRIEND BAR*/

.last-song {
  color: #ffffff;
  margin: 0;
}

.last-song {
  font-size: 0.8em;
  color: #aaaaaa;
} /* LeftBar.css */

.playlist-button {
  background: none;
  border: none;
  color: #fff;
  padding: 10px 0;
  width: 100%;
  text-align: left;
  font-size: 1.1em;
  margin-bottom: 20px;
  cursor: pointer;
  display: block;
  text-align: left;
}
.playlist-button:hover {
  background-color: #333;
}

.playlists {
  margin-top: 30px;
}

.playlist-button {
  display: flex;
  align-items: center;
  width: 100%;
  padding: 5px 0; /* Adjusted padding for the button */
  transition: background-color 0.3s; /* Smooth transition for hover effect */
}

.playlist-image {
  width: 30px;
  height: 50px;
  margin-right: 10px;
  object-fit: cover;
  border-radius: 5px;
}

.playlist-info {
  display: flex;
  flex-direction: column;
}

.playlist-name {
  font-weight: bold;
}

.song-number {
  font-size: 0.8em;
  color: #aaa;
}

.main-container {
  display: flex;
  overflow: hidden;
  height: 100vh; /* Full viewport height */
  width: 100%;
}

.content-container {
  flex-grow: 1; /* Take up remaining space */
  display: flex;
  flex-direction: column; /* Stack children vertically */
  overflow-y: auto;
  margin-right: 15rem;
  margin-bottom: 120px;
}

.header-line {
  width: 100%; /* For horizontal line */
  height: 1px; /* For vertical line, switch width and height */
  background-color: white;
  margin-bottom: 1rem;
}

.subheader-line {
  width: 100%; /* For horizontal line */
  height: 0.2px; /* For vertical line, switch width and height */
  background-color: grey;
}

.recommended-thumbnail {
  width: 320px;
  height: 200px;
}
.recommended-name {
  color: white;
  font-size: 22px;
  text-align-last: center;
}
.select-cty{
  font-size:22px;
  color:white;
  margin-left: 2rem;
  margin-bottom: 0.1rem;
  margin-top:3rem;
}
.recommended-title {
  font-size: 30px;
  margin-left: 1.5rem;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  color: white;
  margin-top:2.3rem;
}

.geo-loc{
  font-size: 18px;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  color: white;
  margin-top:0.1rem;
  margin-bottom: 3rem;

}

.recommended-event{
  font-size: 30px;
  margin-left: 1.5rem;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  color: white;
  margin-top:0.1rem;
  margin-bottom:1rem;
}
.recommended-genre-title {
  font-size: 25px;
  margin-left: 1.5rem;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  color: rgb(194, 189, 189);
}

.container {
  display: grid;
  grid-template-columns: 0.2fr 0.2fr 0.2fr 0.2fr;
  grid-template-rows: 250px;
  gap: 13px 20px;
  grid-template-areas: "Playlist1 Playlist2 Playlist3 Playlist4";
  justify-content: stretch;
  align-content: stretch;
  justify-items: stretch;
  align-items: stretch;
}

.Playlist1 {
  grid-area: Playlist1;
  margin-left: 15px;
  cursor: pointer;
}

.Playlist2 {
  grid-area: Playlist2;
}

.Playlist3 {
  grid-area: Playlist3;
}
.Playlist4 {
  grid-area: Playlist4;
}

.search-bar-container {
  align-self: flex-start; /* Align to the top-left */
}

.search-bar-container {
  display: flex;
  width: 26rem;
  align-items: center;
  background-color: white; /* Dark background color */
  border: 2px solid #000000; /* Light border color */
  border-radius: 40px; /* Rounded corners for the whole search bar */
  padding: 0rem;
  padding-right: 5.8rem;
  height: 3.5rem;
}
.search-bar {
  display: flex;
  justify-content: space-between;
  border: none;
}
.search-input {
  flex-grow: 1;
  padding-top: 0.6rem;
  padding-bottom: 0.3rem;
  border-radius: 25px 0 0 25px;
  background-color: transparent; /* Ensure the input has a transparent background */
  border: none; /* Remove border from the input */
  outline: none; /* Remove the focus outline to maintain style */
  padding: 0rem 16rem 0rem 0.5rem; /* Space for the text inside the input */
  color: rgb(0, 0, 0); /* Text color for the input */
}
.search-bar::text {
  width: 100%;
}
.search-input::placeholder {
  color: rgb(24, 22, 22); /* Light text color for the placeholder */
}

.search-button {
  margin: 0rem;

  border-width: 1px; /* No border for the button */
  border-radius: 30px;
  color: rgb(0, 0, 0); /* Set the icon color */
  cursor: pointer;
  padding: 0.7rem 1rem;

  transform: translateY(2px); /* Slight push down effect on click */
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
  background-color: #45a049; /* Darken the button a bit on hover for feedback */
  padding: 10px 20px;
  font-size: 1em;
  color: white;


  cursor: pointer;
  transition: background-color 0.3s ease;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  margin-top: 20px;
  outline: none; /* Remove the outline */
  max-width: 200px;
  align-self: center; /* Center button in the flex container */
}

/* PLAYLIST */
/* Playlist.css */

.lastPlaylists-container-forPP {
  max-width: 1200px;
  width: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(19rem, 1fr));
  gap: 0.2rem;
  padding: 0.2rem;
  justify-content: center;
  padding-left: 100px;
  padding-right: 100px;
}

.Playlist {
  justify-content: stretch;
  width: 0.3fr;
  height: 250px;
}

.add-song-btn {
  background: transparent;
  border: 1px solid white;
  border-radius: 10px;
  color: white;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center; /* İçeriği yatay olarak ortalar */
  padding: 1px; /* İçerik için yeterli padding */
  height: 40px; /* Buton yüksekliği */
  margin: 3px; /* Butonlar arası ve üst alt boşluk */
}

.buttonthree-container {
  display: flex;
  justify-content: center; /* Butonları yatay olarak ortalar */
  align-items: center; /* Butonları dikey olarak ortalar */
  gap: 10px; /* Butonlar arasında boşluk ekler */
}

.popup-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 10; /* Ensure it's above other content */
}

.popup-content {
  background: rgb(19, 40, 20);
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 2px 10px rgba(57, 4, 66, 0.3);
}

.rate-btn {
  background: transparent;
  border: 1px solid white;
  border-radius: 10px;
  margin-right: 0.1rem;
  color: white;
  margin-left: 0.1rem;
  padding: 5px 10px;
  cursor: pointer;
}

.search-container {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.search-bar {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px; /* Adjust as needed */
}

.search-input {
  flex-grow: 1;
  margin-right: 10px; /* Adjust as needed */
}

.user-results {
  display: flex;
  flex-direction: column;
}

.user-card {
  display: flex;
  align-items: center;
  margin-bottom: 10px; /* Adjust as needed */
}

.user-image {
  width: 50px; /* Adjust as needed */
  height: 50px; /* Adjust as needed */
  border-radius: 50%; /* Makes the image circular */
  object-fit: cover;
  margin-right: 10px; /* Adjust as needed */
}

.user-name {
  font-weight: bold;
  color: #333; /* Adjust as needed */
}

.error-message {
  color: red;
  margin-top: 10px;
}

.recommend-artist {
  /* Add any additional styling for the parent container */
}

.artist-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  /* Adjust the spacing between artist items as needed */
  gap: 10px;
}

.artist-item {
  width: calc(25% - 30px); /* 25% width for 4 artists in a row with 20px gap */
  text-align: center;
}

.artist-name {
  color: white;
}
.artist-item img {
  max-width: 80%;
  height: auto;
  border-radius: 200px;
  /* Add any additional styling for artist images */
}

/* Add this inside your CSS file for MainPage.css or a similar file */

.content-container .search-and-recommend {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 20px; /* Adjust as needed */
}

.content-container .recommend-button {
  padding: 5px 10px; /* Adjust padding to change the size */
  font-size: 0.8rem; /* Adjust font size as needed */
  margin-left: 10px; /* Adds space between the search bar and the button */
  cursor: pointer;
  background-color: #4b4b4b; /* Background color for the button */
  color: #fff; /* Text color for the button */
  border: none;
  border-radius: 4px;
  transition: background-color 0.3s ease;

  /* You can add more styles like hover effects */
}

.content-container .recommend-button:hover {
  background-color: #626262; /* Slightly darker on hover */
}

/* Add to your CSS file */

.concerts-container {
  margin-top: 20px;
}

.concerts-list {
  display: flex; /* This will arrange the concert cards in a row */
  overflow-x: auto; /* Adds horizontal scrolling if the container is too small */
}

.concert-card {
  flex: 0 0 auto; /* Do not grow, do not shrink, and base size on content */
  margin-right: 20px; /* Spacing between cards */
  background-color: #1c7894; /* Background color for the card */
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Adds a subtle shadow */
  border-radius: 8px; /* Rounds the corners */
  padding: 10px;
  width: 200px; /* Fixed width, or could be percentage */
}

.concert-info {
  margin-bottom: 10px;
}

.concert-date,
.concert-name,
.concert-venue {
  font-size: 0.9em;
  margin: 5px 0;
}

.concert-link {
  display: inline-block;
  background-color: #007bff; /* Example primary button color */
  color: #fff;
  text-align: center;
  padding: 10px 15px;
  text-decoration: none;
  border-radius: 5px;
  font-weight: bold;
}


/* Add this inside your CSS file under a section for chart styling */
/* In your CSS file */
.charts-container {
  display: flex; /* Establishes a flex container */
  justify-content: space-around; /* Puts space between the flex items */
  align-items: stretch; /* Stretches items to fill the container vertically */

  padding: 1rem; /* Optional padding */
  gap:0;
}

.chart-wrapper {
  flex: 1; /* Assigns equal width to both chart wrappers */
  margin: 0.5rem; /* Optional margin between charts */
}

/* No changes to .chart-container, .chart-title, .chart-selector */

.recharts-responsive-container {
  width: 100%; /* Full width of the parent container */
  height: 100%; /* Full height of the parent container */
}

.chart-selector {
  background-color: #3498db; /* Button color */
  color: #ffffff; /* Text color */
  border: none; /* Removes the default border */
  padding: 0.5rem 1rem; /* Top and Bottom Padding, Left and Right Padding */
  margin-bottom: 1rem; /* Space below the selector */
  cursor: pointer; /* Changes cursor to pointer */
  border-radius: 20px; /* Rounded corners for the selector/button */
  outline: none; /* Removes the outline */
  transition: background-color 0.3s; /* Smooth transition for hover effect */
}
.chart-title {
  color: #ecf0f1; /* Light text color for readability */
  margin-bottom: 1rem; /* Space below the title */
}

.sendRecommendation {
  transform: translateY(2px); /* Slight push down effect on click */
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
  background-color: #45a049; /* Darken the button a bit on hover for feedback */
  padding: 10px 20px;
  font-size: 1em;
  color: white;
  border: none;
  border-radius: 50px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  margin-top: 20px;
  outline: none; /* Remove the outline */
  max-width: 200px;
  align-self: center; /* Center button in the flex container */
}