/* General Styles for the Playlist Middle */
/* General Styles for the Playlist Middle */
/* General Styles for the Playlist Middle */
/* General Styles for the Playlist Middle */
.playlist-middle {
  display: flex;
  flex-direction: column;
  align-items: center; /* Aligns children to the center horizontally */
  justify-content: flex-start; /* Aligns children to the start vertically */
  padding: 10px;
  width: 100%;
  height: calc(100vh - 100px); /* Adjust based on header/footer heights */
  overflow-y: auto; /* Allow vertical scrolling */
  margin-right:1rem;
  margin-top:12px;
}

/* Playlist Picture Styling */
.playlist-picture {
  width: 100%;
  display: flex;
  justify-content: center; /* Centers the image horizontally */
  align-items: center; /* Centers the image vertically */
  max-height: 200px; /* Adjust height as necessary */
  margin-bottom: 20px; /* Spacing between image and song info */
  margin-right:150px;
}

.playlist-picture img {
  max-width: 100%;
  max-height: 100%; /* Image will be as tall as its container */
  object-fit: contain; /* Ensures the image is scaled correctly without distortion */
}

/* Playlist Container Styling */
.playlist-container {
  display: flex;
  flex-direction: column;
  align-items: center; /* Center children */

  max-width: 1200px; /* Maximum width */
  overflow-y: auto; /* Allow vertical scrolling */
  margin-bottom: 5rem;
}

/* Adjustments to song row and other elements as needed */

/* Playlist Name Styling */
.playlist-name {
  font-size: 1em;
  margin-top: 1em;
  margin-bottom: 0.5em;
  margin-right: 150px;
  text-align: center;
  color: #fff;
}

.song-index-h,
.song-title-h,
.song-artist-h,
.song-duration-h,
.song-release-year-h,
.song-rating-h {
  font-size: 23px;
  color: White;
}

/* Song Row Styling */
.song-row {
  display: grid;
  grid-template-columns:
    minmax(auto, 50px) minmax(auto, 4fr) minmax(auto, 2fr) minmax(auto, 3fr)
    minmax(auto, 1fr) minmax(auto, 50px);
  gap: 10px;
  align-items: center;
  padding: 15px; /* Increased padding for better spacing */
  color: #fff;
  width: 100%; /* Full width of the container */
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2); /* subtle shadow for depth */
  margin: 10px 0; /* Spacing between rows */
  transition: transform 0.2s ease; /* Smooth transition for hover effect */
}

.song-row:hover {
  transform: scale(1.02); /* Slight increase in size on hover */
  background-color: rgba(255, 255, 255, 0.1); /* Highlight row on hover */
}
.song-name {
  font-size: 25px;
}
/* Index, Name, Artist, and Duration Styling */
.song-duration {
  margin-left: 10rem;
}

.song-index,
.song-title-row,
.song-artist,
.song-album,
.song-release-year-p,
.song-rating-p {
  text-align: center; /* Center the text within each cell */
}

/* Responsive considerations */
@media (max-width: 768px) {
  .playlist-name {
    font-size: 1.5em; /* Smaller text on smaller screens */
  }

  .song-info {
    flex-direction: column;
    align-items: flex-start;
  }

  .song-name,
  .song-artist,
  .song-duration,
  .song-ratin-p {
    display: none;
  }

  .playlist-container {
    grid-template-columns: 1fr; /* Display a single column on small screens */
  }

  .song-row {
    display: flex;
    flex-direction: column; /* Stack columns on top of each other */
    align-items: flex-start; /* Align items to the start of each column */
    padding: 10px;
    color: #fff;
  }
  .song-row.header {
    color: #ccc;
    display: contents;
    background-color: #333;
    font-weight: bold;
  }

  .song-index-h,
  .song-name-h,
  .song-artist-h,
  .song-duration-h,
  .song-release-year-h,
  .song-rating-h {
    background-color: #333;
    color: #ccc;
    font-weight: bold;
    display: flex;
    align-items: flex-start;
    padding: 0 1px;
  }

  .song-index {
    flex-grow: 0;
    margin-right: 1rem;
    width: 2rem;
    text-align: center;
  }

  .song-name {
    flex-grow: 1; /* Allows more space for song names */
  }

  .song-artist {
    flex-grow: 1; /* Allows more space for artist names */
  }

  .song-duration {
    flex-grow: 1;
  }

  .song-release-year {
    flex-grow: 1;
  }

  .song-rating-p {
    flex-grow: 1;
    justify-content: flex-end; /* Align the rating to the end */
  }
  /* Add media queries and other styles as necessary */
}

.centerk{
  width: 100%;
  padding: 100px;
  margin-right: 300px;
  margin-left: 5px;
}

.center-photo{
  margin-right: 300px;


}


.enrich-button {
  padding: 10px 20px;
  font-size: 1em;
  background-color: #4CAF50; /* A nice shade of green */
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  margin-top: 20px;
  outline: none; /* Remove the outline */
}

.enrich-button:hover {
  background-color: #45a049; /* Darken the button a bit on hover for feedback */
}

.enrich-button:active {
  transform: translateY(2px); /* Slight push down effect on click */
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
}

.enrich-button:focus {
  box-shadow: 0 0 0 3px rgba(76, 175, 80, 0.5); /* Focus ring around the button */
}

/* Ensure the button is not too wide on larger screens */
.enrich-button {
  max-width: 200px;
  align-self: center; /* Center button in the flex container */
}


.merge-form {
  position: fixed; /* or 'absolute' if you want it relative to a positioned parent */
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 300px; /* Adjust width as needed */
  max-height: 400px; /* Adjust height as needed */
  background: white;
  border-radius: 5px;
  padding: 10px;
  overflow-y: auto; /* Make it scrollable */
  z-index: 10; /* Make sure it's above other elements */
}

.merge-playlist-container {
  display: flex;
  flex-direction: column;
}

.playlist-entry {
  padding: 10px;
  cursor: pointer;
  border-bottom: 1px solid #ccc;
}

.playlist-entry:hover {
  background-color: #f0f0f0;
}

/* Shared button styling */
.button-shared {
  padding: 10px 20px;
  font-size: 1em;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  margin-top: 20px;
  outline: none; /* Remove the outline */
  max-width: 200px;
  align-self: center; /* Center button in the flex container */
}

.button-shared:hover {
  background-color: #45a049; /* Darken the button a bit on hover for feedback */
}

.button-shared:active {
  transform: translateY(2px); /* Slight push down effect on click */
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
}

.button-shared:focus {
  box-shadow: 0 0 0 3px rgba(76, 175, 80, 0.5); /* Focus ring around the button */
}

/* Enrich button specific styles */
.enrich-button {
  background-color: #4CAF50; /* A nice shade of green */
}

/* Merge button specific styles */
.merge-button {
  background-color: #4CAF50; /* A nice shade of blue */
  margin-left: 1rem;
}



/* Button Container Styling */
.button-container {
  display: flex; /* This will place the buttons side by side */
  justify-content: center; /* This will center the buttons in the container */
}


.back-button {
  background-color: #f44336; /* Red color for the back button */
  margin-bottom: 1rem; /* Spacing below the button */
}


