/* General Styles for the Playlist Middle */
/* General Styles for the Playlist Middle */
.playlist-middle {

  display: flex;
  flex-direction: column;
  align-items: left; /* Centers the content horizontally */
  justify-content: center; /* Centers the content vertically if there's space */
  padding: 30px;
  width: 100%; /* Full width */
  height: calc(100vh - 100px); /* Adjust based on header/footer heights */
  overflow-y: auto; /* Allow vertical scrolling */
}

/* Playlist Container Styling */
.playlist-container {
  display: flex;
  flex-direction: column;
  align-items: center; /* Center children */
  margin-left: 3rem;
  width: 80%; /* Adjust width as necessary */
  max-width: 1200px; /* Maximum width */
  margin-bottom: 45px;
}



/* Playlist Picture Styling */
.playlist-picutre {
  width: 100%;
  display: flex;
  justify-self: center;
}
.playlist-picture img {
  max-width: 100%;
  margin-top: 15rem;
  margin-left: 32rem;
  max-height: 200px; /* Or any size you see fit */
  object-fit: contain;
}

/* Playlist Name Styling */
.playlist-name {
  font-size: 1em;
  margin-top:1em;
  margin-bottom: 0.5em;
  margin-right: 13rem;
  text-align: center;
  color: #fff;
}


/* Song Row Styling */
.song-row {
  display: grid;
  grid-template-columns: minmax(auto, 50px) minmax(auto, 4fr) minmax(auto, 2fr) minmax(auto, 3fr) minmax(auto, 1fr) minmax(auto, 50px);
  gap: 10px;
  align-items: center;
  padding: 15px; /* Increased padding for better spacing */
  color: #fff;
  width: 100%; /* Full width of the container */
  box-shadow: 0 2px 5px rgba(0,0,0,0.2); /* subtle shadow for depth */
  margin: 10px 0; /* Spacing between rows */
  transition: transform 0.2s ease; /* Smooth transition for hover effect */
}

.song-row:hover {
  transform: scale(1.02); /* Slight increase in size on hover */
  background-color: rgba(255, 255, 255, 0.1); /* Highlight row on hover */
  
}

/* Individual song item styling */

.song-index-h,
.song-title-h,
.song-artist-h,
.song-album-h,
.song-release-year-h,
.song-rating-h {
  text-align: center; /* Center the text within each cell */
}


.song-index,
.song-title-row,
.song-artist,
.song-album,
.song-release-year-p,
.song-rating-p {
  text-align: center; /* Center the text within each cell */
}

/* Responsive considerations */
@media (max-width: 768px) {
  .playlist-middle {
    padding: 15px; /* Less padding on smaller screens */
  }

  .playlist-container {
    width: 95%; /* Full width on smaller screens */
  }

  .song-row {
    grid-template-columns: 50px 3fr 50px; /* Simplified grid on smaller screens */
  }

  .song-artist,
  .song-album,
  .song-release-year-p,
  .song-rating-p {
    display: none; /* Hide non-essential elements on smaller screens */
  }

  .song-title,
  .song-duration {
    padding: 0 5px; /* Adjust padding */
  }
}

.center{
  display: flex;
  justify-content: center;
  align-items: center;
}