body {
  /* fallback for old browsers */
  background: #001a0c;

  /* Chrome 10-25, Safari 5.1-6 */
  background: -webkit-linear-gradient(to right, rgb(14, 37, 26), rgb(74, 36, 79));

  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  background: linear-gradient(to right, rgb(13, 35, 22), rgb(30, 16, 37))
}